SUPABASE_URL=https://hufvbamzsenubkllumcx.supabase.co
SUPABASE_KEY=sb_publishable_bOoMgd16P75qHhWHCR6fqQ_ZhA4VUCS
NUXT_PUBLIC_API_BASE=http://localhost:8000
NUXT_PUBLIC_ANOMALY_BASE=http://localhost:8001